* {
    background-color: lightcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

h1 {
    background-color: lightyellow;
    color: lightseagreen;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

img {
    height: auto;
    width: 400px;
}

a {
    color: cornflowerblue;
}

.recipe-list {
    text-align: center;
    margin: 7px auto;
    border: 5px solid lightsteelblue;
    padding: 5px;
    width: 300px;
}